<div class="container">
  <h2>Form</h2>

  <form [formGroup]="myForm" class="form" (ngSubmit)="submit()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <div class="alert alert-danger"
          *ngIf="myForm.controls['firstName']?.invalid &&
                 myForm.controls['firstName']?.touched">
        
        First name is required. 
      </div>
    </div>
    
    <div class="form-group">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <div class="alert alert-danger"
          *ngIf="myForm.controls['lastName']?.invalid &&
                 myForm.controls['lastName']?.touched">
        
        Last name is required. 
      </div>
    </div>
    
    <div class="form-group">
      <mat-form-field appearance="fill" >
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" class="formControl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="alert alert-danger"
          *ngIf="myForm.controls['date']?.invalid &&
                 myForm.controls['date']?.touched">
        
        Date is required. 
      </div>
    </div>
    
    <div class="form-group">
      <mat-form-field>
        <mat-label>Technolohy</mat-label>
        <mat-select formControlName="tech">
          <mat-option value=''>None</mat-option>
          <mat-option *ngFor="let tech of stack" [value]="tech">{{tech}}</mat-option>
        </mat-select>
      </mat-form-field> 

      <div class="alert alert-danger"
          *ngIf="myForm.controls['tech']?.invalid &&
                 myForm.controls['tech']?.touched">
        
        Technology is required. 
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Version</mat-label>
        <mat-select formControlName="version" [disabled]="myForm.controls.tech.value.length <= 0">
          <mat-option
            *ngFor="let version of getVersions(myForm.controls.tech.value)" 
            [value]="version">{{version}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="alert alert-danger"
          *ngIf="myForm.controls['version']?.invalid &&
                 myForm.controls['version']?.touched">
        
        Version is required. 
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <div class="alert alert-danger"
          *ngIf="myForm.controls['email']?.invalid &&
                 myForm.controls['email']?.touched">
        
        Email is required. 
      </div>
    </div>

    <div formArrayName="hobbies" *ngFor="let hobby of getHobbies()['controls']; let i = index">
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Hobby</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hobby duration</mat-label>
          <input matInput formControlName="duration">
        </mat-form-field>

        <div class="alert alert-danger"
          *ngIf="myForm.controls['name']?.invalid &&
                 myForm.controls['name']?.touched">
        
          Hobby is required. 
        </div>
        <div class="alert alert-danger"
          *ngIf="myForm.controls['duration']?.invalid &&
                 myForm.controls['duration']?.touched">
        
          Hobby duration is required. 
        </div>
      </div>

      <button class="addHobby" (click)="addHobby()">add hobby</button>
    </div>

    <div class="sbmt">
      <button type="submit" [disabled]="myForm.invalid">Submit</button>
    </div>  

  </form>
  
</div>